---
import Social from './Social.astro'
// const platform = 'github'
// const username = 'joaopedro-guimaraes'
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <!-- <p>
    Aprenda mais sobre meus projetos em <a
      href={`https://www.${platform}.com/${username}`}
      target="_blank">{platform}</a
    >!
  </p> -->
  <Social platform="github" username="joaopedro-guimaraes" />
</footer>
